<%- include('./head.ejs') %>
    <%- include('./header.ejs') %>


        <% try { %>


            <!-- Shopping Cart Section Begin -->
            <section class="shopping-cart spad" style="min-height: 100vh;">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="row justify-content-center">
                                
                                <h4> Select a payment method</h4>
                                <div class="col-lg-4 me-0 border shadow mt-4 p-4 w-50">
                                      
                                    <!-- <form action="/checkOut" method="POST" id="checkoutForm">
                                        <input type="radio" id="cod"  <%=  'checked'  %> name="payment" value="cash">
                                        <label for="cod" class="fw-bold">Cash on Delivery</label><br>
                                        <input type="radio" id="onp" name="payment" value="online">
                                        <label for="onp"  class="fw-bold">Online payment</label><br>
                                        <button type="submit" class="btn w-100 fw-bold text-white ls mt-3" style="background-color:#c70261;">PLACE ORDER</button>
                                    </form> -->
                                    
                                     <form  id="checkoutForm">
                                        <input type="radio" data-pay-type="cash" id="cod"  <%=  'checked'  %> name="payment" value="cash">
                                        <label for="cod" class="fw-bold">Cash on Delivery</label><br>
                                        <input type="radio" data-pay-type="online" id="onp" name="payment" value="online">
                                        <label for="onp"  class="fw-bold">Online payment</label><br>
                                        <button type="submit" class="btn w-100 fw-bold text-white ls mt-3" style="background-color:#c70261;">PLACE ORDER</button>
                                        
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 me-0 border shadow">

                            <div class="cart__total bg-white">
                                <h6>Cart total</h6>
                                <ul>
                                    <!-- <li>Subtotal <span>$ 169.50</span></li> -->
                                    <li class="fw-bold">Total <span id="total">₹ <%= total %></span></li>
                                </ul>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </section>

              
        
            
            <!-- Shopping Cart Section End -->
            <%- include('./footer.ejs') %>


                <% }catch(error) { %>
                    <p>An error occurred: <%= error.message %>
                    </p>
                    <% } %>