<%- include("./head.ejs") -%>
    <%- include("./header.ejs") -%>

        <section>


            <%- include("./profilebar.ejs") -%>
                <div class="card">

                    <div class="card-body" style="min-height: 70vh;">
                        <form action="/editprofile" method="post" id="formId">
                            <h4 class="text-center fw-bold my-3">Edit Profile</h4>

                            <div class="form-group">
                                <input type="hidden" class="form-control" id="id" name="id" value="<%=data._id%>">
                            </div>

                            <div class="form-group">
                                <input type="text" class="form-control my-1" id="name" name="name"
                                    value="<%= data.username %>">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control my-1" id="mobile" name="mobile"
                                    value="<%=data.mobile%>">
                            </div>

                            <div class="text-center mt-5">
                                <button type="submit" class="btn btn-block w-100 mx-auto text-white ls"
                                    style="background-color:#c70261;">
                                    Save Details
                                </button>

                                <!-- <a href="" class="btn btn-block w-75 mb-5"> Change Password</a> -->
                                <!-- Button trigger modal -->
                                <button type="button" class="btn btn-block w-100 text-white ls"
                                    style="background-color:#c70261;" data-bs-toggle="modal"
                                    data-bs-target="#exampleModal2">
                                    Change Password
                                </button>

                               

                            </div>
                        </form>
                    </div>

                </div>

                 <!-- Modal -->
                 <div class="modal fade" id="exampleModal2" tabindex="-1"
                 aria-labelledby="exampleModalLabel" aria-hidden="true">
                 <div class="modal-dialog">
                     <div class="modal-content">
                         <div class="modal-header">
                             <h5 class="modal-title fw-bold" id="exampleModalLabel">Change
                                 Password</h5>
                             <button type="button" class="btn-close" data-bs-dismiss="modal"
                                 aria-label="Close"></button>
                         </div>
                         <div class="modal-body">
                             <div class="card bg-glass">
                                 <div class="card-body px-4 py-5 px-md-5">
                                     <form action="/changePassword" method="post" id="formId">

                                         <!-- cuurent password -->
                                         <div class="form-outline mb-4">
                                             <input type="text" id="currentpassword"
                                                 name="currentpassword"
                                                 placeholder="Current Password"
                                                 class="form-control" />
                                         </div>
                                         <div class="form-outline mb-4">
                                             <input type="text" id="newpassword" name="newpassword"
                                                 placeholder="New Password" class="form-control" />
                                         </div>
                                         <div class="form-outline mb-4">
                                             <input type="text" id="confirmpassword"
                                                 name="confirmpassword"
                                                 placeholder="Confirm Password"
                                                 class="form-control" />
                                         </div>



                                         <div id="errorMessage" class="text-center text-danger">
                                         </div>

                                         <!-- Submit button -->
                                         <button type="submit"
                                             class="btn btn-primary btn-block mb-4 w-100">
                                             Change password
                                         </button>
                                     </form>
                                 </div>
                             </div>
                         </div>
                     </div>
                 </div>
             </div>

                </div>
                </div>
                </div>
                <!-- </div> -->
        </section>
        <script src="/user/js/changePassword.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous"></script>
        <%- include("./footer.ejs") -%>