<%- include('./head.ejs') %>
    <%- include('./header.ejs') %>


        <main style="min-height: 90vh;" class="container  d-flex justify-content-center align-items-center">
            <section class="w-100">

                
                <div class="table-data mt-0">
                    <div class="order bg-gradient">
                        <div class="p-2" style="border: 2px solid grey;">
                            <h6>Delivery Address</h6>
                            <div class="d-flex justify-content-end">
                                Download invoice &nbsp;
                                <button class="fs-download btn btn-secondary">
                                    download
                                </button>
                            </div>
                            <% if(orderFound){ %>

                                <div class="mx-0">
                                    <p class="fw-bold mb-0">
                                        <%=orderFound.address.name %>
                                    </p>
                                    <p class="mb-0">
                                        <%=orderFound.address.address%>,<%=orderFound.address.locality%>,
                                                <%=orderFound.address.city%><br><%=orderFound.address.state%>-
                                                        <%=orderFound.address.pincode%>
                                    </p>
                                    <p class="fw-bold mb-0">Mobile Number:
                                        <%=orderFound.address.phone%>
                                    </p>
                                </div>
                                <% } %>
                                
                        </div>
                       
                    </div>
                </div>
                <div class="table-data m-3">
                    <div class="order bg-gradient">
                        <div class="p-3 d-flex" style="border: 2px solid grey;">
                            <% if (orderFound) { %>
                           
                                <div class="d-flex">
                                <div class="mx-5">
                                    <p class="fw-bold mb-0">
                                        <%= orderFound.product_id.productname %>
                                    </p>
                                    <p class="fw-bold mb-0">Quantity: <%= orderFound.count %>
                                    </p>
                                    <p class="fw-bold mb-0">RS: ₹<%= orderFound.count * orderFound.price %>
                                    </p>

                                    <%const date = new Date(orderFound.orderDate);%>
                                    <%const options = { month: 'short', day: 'numeric', year: 'numeric' };
                                    const formattedDate = date.toLocaleDateString('en-US', options); %>
                                    <% 
                                    var status
                                        switch (orderFound.orderStatus) {
                                            case 1:
                                                status = "Confirmed"
                                                break;
                                            case 2:
                                                status = "Shipped"
                                                break;
                                            case 3:
                                                status = "Out for delivery"
                                                break
                                            case 4:
                                                status = "Delivered"
                                                break;
                                            case 5:
                                                status = "Cancelled"
                                                break;
                                            case 6:
                                                status = "Cancelled by admin"
                                            default:
                                                break;
                                        }
                                    %>
                                    </p>
                                </div>
                                <div class="justify-content-center align-items-center">
                                    <h5  class="card-text <%=orderFound.orderStatus >4 && 'text-danger'  %>" >  <b class="text-center" style="text-align:center;">  <%= status %> on <%=formattedDate  %></b> </h5><br>

                                </div>
                        
                            </div>

                                <% } else { %>
                                    <p>No items found in the order.</p>
                                    <% } %>
                        </div>

                    </div>
                </div>
                </div>


                <!-- </main> -->
                <!-- MAIN -->
            </section>
        </main>

        <%- include('./footer.ejs') %>