<%- include("./head.ejs") -%>
<%- include("./header.ejs") -%>

<section>
<%-  include("./profilebar.ejs")-%>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-center fw-bold mb-5">User Profile</h5>
                    <p class="card-text"><strong>Name:</strong> <%= user.username %></p>
                    <p class="card-text"><strong>Phone:</strong> <%= user.mobile %></p>
                    <p class="card-text"><strong>Address:</strong> 123 Main St, City, Country</p>
                    <div class="col-md-12 w-100 text-center mt-5">
                        <a href="/editProfile?_id=<%= user._id %>" class="btn ls fw-bold text-white btn-block w-100 mx-auto" style="background-color:#dd7973;">EDIT PROFILE</a>
                    </div>
                   
                   

                </div>
            </div>
                  </div>
        </div>
    </div>
</section>

<%- include("./footer.ejs") -%>
